
<div class="page-container-single-form">
  <h2 class="text-center">Change your password</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "stacked-form" }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

    <section>
      <div>
        <%= f.label :password, "New password" %>
        <% if @minimum_password_length %>
          <em class="font-tiny">(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "full-width" %>
      </div>

      <div class="margin-top-small">
        <%= f.label :password_confirmation, "Confirm new password" %>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "full-width" %>
      </div>
    </section>

    <div class="text-center margin-top-large">
      <%= f.submit "Change my password", class: "btn-primary" %>

      <div class="margin-top-large font-small">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  <% end %>
</div>
