
<div class="page-container-single-form">
  <h2 class="text-center">Forgot your password?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "stacked-form" }) do |f| %>
    <% devise_error_messages! %>

    <section>
      <div class="login-input-group">
        <%= content_tag(:label, fa_icon("envelope")) %>
        <%= f.email_field :email, autofocus: true, placeholder: 'Email address', class: "full-width" %>
      </div>
    </section>

    <%= f.submit "Send me reset password instructions", class: "link" %>

    <div class="text-center font-small top-space-32">
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</div>
