<div class="page-container-single-form">
  <%= form_for(@invitation, html: {class: "stacked-form"}) do |f| %>
    <%= f.hidden_field :invited_by_id  %>

    <h2>Invite New User</h2>
    <section>
      <div class="stacked-form-field">
        <%= f.label :email %>
        <%= f.email_field :email, :required => true, class: "full-width" %>
      </div>
    </section>

    <% if @invitation.errors.any? %>
      <div class="top-space-16">
        <ul class="no-list-style anim-slide-fade-up">
          <% @invitation.errors.full_messages.each do |message| %>
            <li class="font-small text-error"><%= fa_icon('exclamation-circle', text: message) %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="text-right">
      <%= link_to "Cancel", users_path %>
      <%= f.submit "Send Invitation", class: "left-space-16 btn-primary"  %>
    </div>
  <% end %>
</div>
