
<div class="page-container-single-form">
  <h2 class="text-center">Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'stacked-form'}) do |f| %>

    <section>
      <div class="login-input-group">
        <%= label_tag :email, fa_icon("envelope") %>
        <%= f.email_field :email, autofocus: true, placeholder: 'Email address', class: "full-width" %>
      </div>

      <div class="login-input-group margin-top-normal">
        <%= label_tag :password, fa_icon("lock") %>
        <%= f.password_field :password, autocomplete: "off", placeholder: 'Password', class: "full-width" %>
      </div>
    </section>

    <% if devise_mapping.rememberable? -%>
      <div class="font-small">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class="text-center margin-top-medium">

      <div class="font-tiny">
        <%= render "devise/shared/links" %>
      </div>

      <div class="margin-top-large">
        <%= f.submit "Log in", class: "btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
