<%%= form_for(<%= singular_table_name %>, html: {class: 'inline-form'}) do |f| %>
<% attributes.each do |attribute| -%>
<% unless attribute.password_digest? -%>
  <%%= f.hidden_field :<%= attribute.column_name %> %>
<% end -%>
<% end -%>

  <%% if <%= singular_table_name %>.errors.any? %>
    <div id="error_explanation">
      <h2><%%= pluralize(<%= singular_table_name %>.errors.count, "error") %> prohibited this <%= singular_table_name %> from being saved:</h2>

      <ul>
      <%% <%= singular_table_name %>.errors.full_messages.each do |message| %>
        <li><%%= message %></li>
      <%% end %>
      </ul>
    </div>
  <%% end %>

<% attributes.each do |attribute| -%>
  <div class="field">
<% if attribute.password_digest? -%>
    <%%= form.label :password %>
    <%%= form.password_field :password, id: :<%= field_id(:password) %> %>
  </div>

  <div class="field">
    <%%= form.label :password_confirmation %>
    <%%= form.password_field :password_confirmation, id: :<%= field_id(:password_confirmation) %> %>
<% else -%>
    <%%= f.label :<%= attribute.column_name %> %>
    <%%= content_tag :span, <%= singular_table_name %>.<%= attribute.column_name %>, contenteditable: true,
        placeholder: "Enter <%= attribute.column_name.titleize %>", data: {input_id: '<%= singular_table_name %>_<%= attribute.column_name %>'} %>
<% end -%>
  </div>
<% end -%>
  <div class="inline-form-changed btn-group">
    <%%= link_to <%= table_name %>_path, class: 'list tip' do %>
      <span>Back to index</span>
    <%% end %>
    <%%= f.button class: 'save tip' do %>
      <span>Save</span>
    <%% end %>
    <%%= link_to <%= singular_table_name %>, class: 'discard tip' do %>
      <span>Discard</span>
    <%% end %>
  </div>
<%% end %>
