<%%= form_for(<%= singular_table_name %>, html: {class: 'stacked-form'}) do |f| %>
<% attributes.each do |attribute| -%>
<% unless attribute.password_digest? -%>
  <%%= f.hidden_field :<%= attribute.column_name %> %>
<% end -%>
<% end -%>

<section>
  <% attributes.each do |attribute| -%>
    <div class="stacked-form-field">
    <% if attribute.password_digest? -%>
        <%%= f.label :password %>
        <%%= f.password_field :password, id: :<%= field_id(:password)%>, class: "full-width" %>
      </div>

      <div class="stacked-form-field">
        <%%= f.label :password_confirmation %>
        <%%= f.password_field :password_confirmation, id: :<%= field_id(:password_confirmation)%>, class: "full-width" %>
    <% else -%>
        <%%= f.label :<%= attribute.column_name %> %>
        <%%= f.text_field :<%= attribute.column_name %>, class: "full-width", placeholder: "Enter <%= attribute.column_name.titleize %>" %>
    <% end -%>
    </div>
  <% end -%>
</section>

<%% if <%= singular_table_name %>.errors.any? %>
  <div class="margin-top-normal">
    <ul class="no-list-style anim-slide-fade-up">
      <%% <%= singular_table_name %>.errors.full_messages.each do |message| %>
        <li class="font-small text-error"><%%= fa_icon('exclamation-circle', text: message) %></li> %>
      <%% end %>
    </ul>
  </div>
<%% end %>

  <div class="text-right margin-top-medium">
    <%%= link_to "Back to index", <%= table_name %>_path %>
    <%%= f.button "Save", class: "btn-primary margin-left-normal" %>
  </div>
<%% end %>
