<!DOCTYPE html>
<html>
  <head>
    <title>Baseline</title>
    <%= csrf_meta_tags %>

    <meta name="turbolinks-cache-control" content="no-preview">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= notifly_template %>
    <% unless current_user.nil? %>
      <nav>
        <%= link_to 'App name', root_path, class: "logo" %>
        <ul class="no-list-style flex-right">
          <li> <%= link_to "Users", users_path %> </li>

          <li class="nav-dropdown-container" data-overlay-key="nav_dropdown">
            <a> <%= current_user.name %> </a>
            <div class="nav-dropdown" data-overlay-content="nav_dropdown">
              <ul class="no-list-style">
                <li><%= link_to "My Account", current_user %></li>
                <li><%= link_to "Sign Out", sign_out_path %></li>
              </ul>
            </div>
          </li>

        </ul>
      </nav>
    <% end %>

    <main id="<%= "#{controller_name}_#{action_name}" %>">
      <%= yield %>
    </main>

  </body>
</html>
