<!DOCTYPE html>
<html>
  <head>
    <title>Personal Portal</title>
    <%= csrf_meta_tags %>

    <meta name="turbolinks-cache-control" content="no-preview">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= notifly_template %>
    
    <%# <nav></nav> %>
    <main id="<%= "#{controller_name}_#{action_name}" %>">
      <%= yield %>
    </main>

  </body>
</html>
